@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root{
  --main-bg-color: #324376;
  --main-bg-alt: #586ba4;
  --highlight-color: #f5dd90;
  --secondary-bg-color: #f76c5e;
  --highlight-alt: #f68e5f;
  --main-text-color: #f7f7f7;
}

*{
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  /* background-color: #24252A; */
}

body{
  background-color: var(--main-bg-color);
  font-family: 'Poppins', sans-serif;
}

/* li, a, button{
  /* font-family: "Montserrat", sans-serif; */
  /* font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}*/

/* header{
  display: flex;
  align-items: center;
  padding: 30px 10%;
} */

nav{
  background-color: var(--secondary-bg-color);
  box-shadow: 0 3px 5px rgba(0,0,0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav p{
  color: var(--main-text-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  margin: 0 10px;
}

nav ul li a{
  color: var(--main-text-color);
  text-decoration: none;
}

.dropdown-menu{
  border: 0;
  background-color: transparent;
  font-size: 1.4em;
  color: var(--main-text-color);
  display: none;
  text-decoration: none;
}

.container{
  background-color: #fff;
  margin: 20px 20px;
  background-color: var(--highlight-alt);
}

.platform-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  padding: 15px;
  color: var(--main-text-color);
  letter-spacing: 2px;
}

.game-grid{
  background-color: #fff;
  padding: 15px;
  
}

footer{
  background-color: var(--secondary-bg-color);
  box-shadow: 0 3px 5px rgba(0,0,0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: var(--main-text-color);
}

/* .btn-signin{
  border: 2px solid #0594ec;
  padding: 3px 8px;
  background-color: #0594ec;
  color: white;
  border-radius: 5px;
} */


/* Media Queries */
@media(max-width: 600px){
  nav ul{
    background-color: var(--secondary-bg-color); 
    box-shadow: 0 3px 5px rgba(0,0,0, 0.1);
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.4s ease;
  }

  nav ul.show{
    transform: translateX(0);
  }

  nav ul li{
    margin: 15px;
  }

  .dropdown-menu{
    display: block;
  }
}

/* 
button{
  padding: 9px 15px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  float: right;
  font-size: .8em;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
} */

/* .container{
  width: 80%;
  height: 100%;
  margin: auto;
}

#game-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  justify-items: center;
}

.game-card{
  height: 100%;
  max-width: 150px;
  overflow: hidden;
}

.game-card .image-box{
  height: 82%;
}

.game-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-info{
  height: auto;
  min-height: 100px;
  background-color: red;
  padding: 5px 3px;
}

.game-title{
  color: white;
  background-color: transparent;
  font-size: .8rem;
   font-family: "Montserrat", sans-serif; 
  white-space:normal;
  overflow:hidden;
  text-overflow: ellipsis;
} */

/* body {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
} */

/* a {
  text-decoration: none;
  color: #e9c46a;
}  */

/* .navbar{
  display: flex;
} */

/* .header-container{
  background-color: #023e8a;
}

.container{
  height: 80px;
  display: flex;
  align-items: center;
}

.brand img{
  max-height: 50%;
  max-width: 50%;
} */

/* .header-nav-wrapper{
  display: flex;
}

.navbar {
  width: 100%;
  padding: 10px;
} */

/* .brand{
  display: block;
  padding: 5px;
  height: 70px;
}  */

/* .logo{
  display: inline-block;
  padding: 5px;
  margin: 5px;
  max-width: 70px;
  max-height: 70px;
} */

/* .brand-top{
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  font-size: 1em;
  margin: 0;
  padding: 0;
} */

/* .header {
  display: flex;
  width: 100%;
  font-weight: 700;
  color: #e9c46a;
  padding: 25px 0px;
  margin: 0;
} */



/* .links{
  float: right;
}

.search {
  border: 2px solid #e9c46a;
  border-radius: 50px;
  margin: 20px;
  font-size: 15px;
  padding: 0 20px;
  font-family: inherit;
  color: #e9c46a;
  background-color: transparent;
  outline: none;
  display: block;
} */

/* .brand-bottom{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  font-stretch: expanded;
  margin: 0;
  padding: 0;
} */

/* button{
  border-radius: 50px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  background-color: transparent;
  color: #e9c46a;
  border-style: none;
} */


/* @media screen and (max-width: 600px){
  .navbar, .navbar input[type=text], .navbar button{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.credits{
  font-family: 'Bebas Neue', cursive;
  font-size: 12px;
}

.credits a{
  font-size: 12px;
} */